$font-primary: "Open Sans";
$font-secondary: "Poppins";

$font-size-default: 1.8rem;
$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-paragraph: 1.8rem;

$font-size-sm: 1rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.6rem;

$color-primary-1: hsl(322, 100%, 66%);
$color-neutral-1: hsl(193, 100%, 96%);
$color-neutral-2: hsl(192, 100%, 9%);
$color-neutral-3: hsl(208, 11%, 55%);
$color-neutral-4: #fff;

$max-width: 144rem;
