.cta {
    background-color: $color-neutral-1;
    position: absolute;
    padding: 5rem;
    border-radius: 1rem;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 71em) {
    .cta {
        max-width: 60rem;
        width: 90%;
        padding: 3rem;

        .h2 {
            font-size: 2rem;
        }

        .btn {
            font-size: 1.4rem;
        }
    }
}
