.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.main {
    padding: 20rem 0;
    position: relative;
}

@media (max-width: 1000px) {
    .main {
        padding: 10rem 0 20rem 0;
    }
}
