.header {
    background-image: linear-gradient(to right, rgba($color-neutral-1, 0.5), rgba($color-neutral-1, 0.5)),
        url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding: 5rem 0;

    &__container {
        @include container;
    }

    &__top {
        margin-bottom: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 3rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__text-box {
        flex: 1 1 40%;
        animation: moveInLeft 0.75 ease-out 1s;
        animation-fill-mode: backwards;
        backface-visibility: hidden;
    }

    &__img {
        flex: 1 1 40%;
        animation: moveInRight 0.75 ease-out 1s;
        animation-fill-mode: backwards;
    }
}

@include respond(desktop) {
    .header {
        text-align: center;
        &__content {
            flex-direction: column;
        }

        &__text-box {
            margin-bottom: 4rem;
        }

        &__top {
            flex-direction: column;
        }

        &__logo {
            margin-bottom: 2rem;
        }
    }
}
