.section {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -0.5rem 1rem rgba(#000, 0.1);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 1rem;

    &__text-box {
        width: 50%;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__img {
        width: 40%;
    }
}
